.Cart{
    width: 250px;
    background-color: aquamarine;
    border-radius: 10px;
}

.img img{
    background-color: aqua;
    width: 220px;
    height: 120px;
    margin-left: 15px;
    margin-top: 15px;
}
.body{
    margin: 20px;
}
.button1{
    width: 100%;
    height:30px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5D5FEF;
    color: white;
}
.button1:hover{
    background-color: rgb(255, 77, 0);
    color: rgb(255, 255, 255);
}